.current-project {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    padding: 10px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        max-width: 90%;
        max-height: 100%;
    }

    &__title {
        font-size: $font-size * 1.5;
        font-weight: bold;
        flex: 1 1 content;
        max-height: 100%;
        max-width: 100%;
    }

    &__desc {
        max-width: 100%;
        max-height: 100%;
    }

    &__edit {
        @include darkbtn;
        flex: 2 1 auto;
        max-width: 75px;
        margin: auto;
        // background-color: $alternate-bg-color;
    }
}