.header {
    display: grid;
    grid-template-columns: minmax(150px, 200px) auto;
    
    height: 65px;


    &__pageinfo {

        border-right: 1px solid $border-color;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: $font-size * 2;
    }
}