.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba($color: #000000, $alpha: 0.6);
    font-size: $font-size * 1.25;

    &__content {
        background-color: darken($base-color, 15);
        width: 75%;
        max-width: 650px;
    
        margin: 15% auto;
        border-radius: 15px;
        padding: 20px;
        }
    
    &__header {
        text-align: center;
        font-size: $font-size * 2;
    }

    &__form {
        padding-top: 10px;

        display: grid;
        grid-template-columns: auto 1fr;
        gap: 5px;
    }

    &__label {
        text-align: right;
        padding: 5px;
    }

    &__input {
        background-color: darken($base-color, 20);
        border: 0;
        border-radius: 5px;
        padding: 10px;
        font-size: $font-size * 1.25;
    }

    &__btns {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding-top: 20px;
    }

    &__discard {
        @include btn($color-warning);
        // color: $base-color;
        max-width: 100px;   
        margin: 5px 20px;
    }

    &__submit {
        @include btn($color-success);
        max-width: 100px;
        margin: 5px 20px;
    }

    &__delete {
        @include btn($color-danger);
        max-width: 100px;
        margin: 5px 20px;
    }
}