.todo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 60px;
    width: 90%;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;

    &__check {
        flex: 0 0 auto;
    }

    &__title {
        flex: 1 1 auto;
    }

    &__description {
        flex: 4 1 auto;
    }

    &__priority {
        flex: 0 0 auto;
    }

    &__due-date {
        flex: 1 0 auto;
    }
}