.todo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    font-size: $font-size * 1.25;

    background-color: $base-color;
    color: $dark-shade;

    &--done {
        background-color: darken($base-color, 25);

        color: $dark-shade;

        & > span {
            text-decoration: line-through;
        }
    }

    &__check {
        flex: 0 0 auto;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: $light-accent-color;
        outline: none;

        &--checked {
            background-color: $main-brand-color;
        }
    }

    & > span {
        cursor: pointer;
    }

    &__title {
        flex: 1 1 auto;
        min-width: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 60px;
        line-height: 20px;
        overflow: hidden;
    }

    &__description {
        flex: 4 1 auto;
        max-height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        text-align: left;
    }

    &__due-date {
        flex: 1 0 auto;        
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
        overflow: hidden;
    }
}