.todolist {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 100%;
    padding: 0px 10px;
    overflow: hidden;

    &__add-todo {
        margin-top: 10px;
        @include btn($light-accent-color)
    }
}