.todo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 60px;
    width: 90%;
    max-width: 90%;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;

    &--done {
        background-color: darken($color: $backgroundcolor, $amount: 10);

        & > span {
            text-decoration: line-through;
        }
    }

    &__check {
        flex: 0 0 auto;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: lighten($color: $backgroundcolor, $amount: 50);
        outline: none;

        &--checked {
            margin-bottom: 5px;
            background-color: darken($backgroundcolor, 10);
        }
    }

    & > span {
        cursor: pointer;
    }

    &__title {
        flex: 1 1 auto;
        min-width: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 60px;
        line-height: 20px;
        overflow: hidden;
    }

    &__description {
        flex: 4 1 auto;
        max-height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    &__due-date {
        flex: 1 0 auto;        
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
        overflow: hidden;
    }
}